.authorization {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(120deg, #84fab0, #8fd3f4);
}

.tab {
  width: 80%;
  max-width: 600px;
  background-color: rgba(255, 255, 255, 0.9); /* Slightly transparent white */
  border-radius: 12px;
  overflow: hidden;
}

.tab-item {
  font-size: 20px;
  padding: 25px 35px;
  cursor: pointer;
  text-align: center;
  background-color: #f0f0f0; /* Light gray */
  border-radius: 12px; /* Rounded corners */
}

.tab-item:hover {
  background-color: #e0e0e0; /* Lighter gray on hover */
}

.tab-panel {
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.9); /* Slightly transparent white */
  border-radius: 12px;
}


.form-container {
  width: 100%;
}

.form-group {
  margin-bottom: 40px; /* Increased margin between form groups */
}

.form-group label {
  display: block;
  margin-bottom: 15px; /* Increased margin bottom for labels */
  font-size: 20px; /* Increased font size for labels */
}

.form-input {
  width: calc(100% - 30px); /* Adjusted width to accommodate increased padding */
  padding: 20px; /* Increased padding for form inputs */
  font-size: 18px; /* Increased font size for form inputs */
  border: 2px solid #ccc;
  border-radius: 12px; /* Increased border radius for form inputs */
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
  padding: 20px 40px; /* Increased padding for buttons */
  border: none;
  border-radius: 12px; /* Increased border radius for buttons */
  cursor: pointer;
  font-size: 20px; /* Increased font size for buttons */
}

.btn-primary:hover {
  background-color: #0056b3;
}

/* New CSS for horizontal tabs */
.react-tabs__tab-list {
  border-bottom: none;
  display: flex;
}

.react-tabs__tab {
  flex: 1;
  text-align: center;
  padding: 20px;
  border-right: 1px solid #ccc;
}

.react-tabs__tab:last-child {
  border-right: none;
}
.disabled {
  opacity: 0.5;
  cursor: not-allowed;
  box-shadow: none;
}
